@model IEnumerable<PerformanceApplication.RouteConfig>

@{
    ViewBag.Title = "Bands and artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bands and artists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name Artist or Band</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
    </tr>

    <tr>
        <td>Name of the band or artist</td>
        <td>Description of the band or artist</td>
        <td>@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })</td>
        <td>@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</td>

    </tr>
</table>
